!tests/artifacts/.keepdir
.DS_Store
.envs
.idea
.keepdir
# Build system
.envs
buildtools
qs-buildtools
bootstrap-venv

# R
.RData
.Rhistory
.Rprofile
.Rproj.user
*.Rcheck/
*.Rproj
/Meta/
/dist/
/doc/
packrat
packrat/lib*/
site
tests/artifacts/
tests/artifacts/*
Rplots.pdf

# macOS
.Spotlight-V100
.Trashes
._*
.DS_Store
.DS_Store?
Icon?
Thumbs.db

# IDE
.idea

# Other
.keepdir
!tests/artifacts/.keepdir
.svn/
ehthumbs.db

# File formats
*.7z
*.\#*
*.aux
*.bbl
*.blg
*.class
*.com
*.dll
*.dmg
*.dvi
*.exe
*.gz
*.iso
*.jar
*.log
*.nav
*.o
*.out
*.py[cod]
*.rar
*.sas7bcat
*.sas7bdat
*.snm
*.so
*.sql
*.sqlite
*.tar
*.tar.gz
*.toc
*.zip
*~
\#*\#
